<div class="tweet" id={{@tweet.id}}>
	<div class="tweet-image">
		<img class="circle" src={{@tweet.user.avatar}} alt={{@tweet.user.username}} />
	</div>
	<div class="tweet-content">
		<div class="tweet-content-header">
			<LinkTo @route="app.profile" @model={{@tweet.user.id}}><span class="tweet-content-header-user">@{{if @tweet.user.username @tweet.user.username "Anonimo"}}</span></LinkTo>
		</div>
		<div class="tweet-content-body">
			<p>{{@tweet.description}}</p>
		</div>
	</div>
	<div class="tweet-delete" onclick={{action this.deleteTweet @tweet.id}}>
		<i class="material-icons delete-icon">delete</i>
	</div>
</div>